{% if admin.hasAccess('list') and admin.hasRoute('list') %}
        <a href="{{ admin.generateURL('replaceFile', {id: object.id}) }}" class="btn btn-sm btn-default edit_link" title="Sustituir archivo">
            <i class="fa fa-upload" aria-hidden="true"></i>
            Sustituir archivo
        </a>
{% endif %}