{% if admin.hasAccess('list') and admin.hasRoute('list')  and object.aprobada %}
        <a href="{{ admin.generateURL('downloadPDF', {id: object.id}) }}" class="btn btn-sm btn-default edit_link" title="Certificado de donación">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{ 'label.download.certificate' | trans }}
        </a>
{% endif %}